# dependencies
/node_modules

# next.js
/.next/
/out/
/out-cpanel.zip

# production
/build
/data/*.sqlite
/data/*.sqlite-*
/data/*.json
!/data/iphex-bookings.json

# local
.DS_Store
*.pem
.env*
!.env.example

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
